* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
}

.container {
    width: 90%;
    height: 8%;
    display: block;
    margin: 0 auto;
}
.header {
    box-shadow: 0px 3px 6px #00000029;
    
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Raleway', sans-serif;
    color: #08A6E4;
    padding-left: 60px;
    font-size: x-small ;
}

.navBar a  {
   text-decoration: none;
   color: #A5A5A5;
}

.navBar li {
    list-style-type: none;
    font: normal normal bold 11px/15px Open Sans;
    padding:0 30px;
    text-transform: uppercase;
    font-size: xx-small;
    letter-spacing: 3.28px;
    text-align: center;
    margin: 0;
}

.header .navBar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar a:hover {
    color: black;
    border-bottom: 2px solid #08A6E4;
}

/**/

.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.banner {
    background-image: url("images/Background/Background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    
}


.title1 h1 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

.banner p {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    margin-bottom: 40px;
}

.banner a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    background-color: #08A6E4;
    color: white;
    padding: 13px 100px;
    border-radius: 40px;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
}

.title1 {
    margin-top: 80px;
}

/**/

.section {
    background-color: white;
    position: relative;
    top: -55px;

     
    width: 100%;
    height: 60%;

}

.section .container {

    border: 1px solid transparent;
    width: 50%;
    height: 100%;
}

.section .title2 {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    position: relative;
    left: -20px;
}

.container .sales {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}


.person img {
    width: 32px;
    position: relative;
    top: -50px;
    right: -30px;
    left: 27px;
}

.eye img {
   width: 45px;
   position: relative;
    top: -40px;
    right: -30px;
    left: 22px;
    
}

.catalog img {
    width: 35px;
    position: relative;
    top: -40px;
    right: -27px;
}

.person::before {
    content: "";
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #FB3B64;
    position: relative;
    top: -6.5px;
}

.eye::before {
    content: "";
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #08A6E4;
    position: relative;
    top: -5px;
}

.catalog::before {
    content: "";
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #55DFB4;
    position: relative;
    top: -2px;
}



.person, .eye, .catalog {
    display: flex;
    flex-direction: column;
}

#person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -32px;
    left: -14px;
}

#eye {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -18px;
}

#catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;
}

.sales span {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
    font-size: small;
    margin-bottom: 10px;
}

.sales p {
    color: #A5A5A5;
    font-size: x-small;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
}

/* Mackbook */

.beAlwaysFirst {
    border: 1px solid #E8E9ED;
    opacity: 1;
    width: 70%;
    height: 40%;
    display: block;
    margin:25px auto;
    background-color: white;
    border-radius: 3px;
}

.beAlwaysFirst .content {
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
}

.beAlwaysFirst .content div {
    margin-left: 20px;
}

.beAlwaysFirst .content .underline {
    border: 1.5px solid #FB3B64;
    background-color: #FB3B64;
    width: 230px;
    display: flex;
    margin-left: 0;
    margin-top: 30px;
}




.beAlwaysFirst .content h1 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 20px;
    
    font-size: 20px;
}

.beAlwaysFirst .content p {
    font-family: 'Open Sans',  sans-serif;
    font-size: 12px;
    text-align: left;
    letter-spacing: 0;
    font-weight: 600;
}


.beAlwaysFirst .content img {
    width: 250px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -130px;
    bottom: -55px;
    z-index: 1;
}

.beAlwaysFirst .content::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #FB3B64;
    display: flex;
    position: relative;
    left: -100px;
    top: 10px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 20px;
    
}


/* IPhone */

.iPhone {
    border: 1px solid #E8E9ED;
    opacity: 1;
    width: 70%;
    height: 40%;
    display: block;
    margin:25px auto;
    background-color: white;
    border-radius: 3px;
}

.iPhone .content {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.iPhone .content div {
    
    margin-right: 10px;
    text-align: left;
}

.iPhone .content h1 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-bottom: 20px;
    font-size: 20px;
    
}

.iPhone .content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 600;
}

.iPhone .content .underline {
    border: 1.5px solid #08A6E4;
    background-color: #08A6E4;
    display: flex;
    width: 230px;
    margin-top: 30px;
}

.iPhone img {
    width: 270px;
    margin-left: 30px;
    position: relative;
    left: -200px;
    top: 5px;
}

.iPhone .content::before {
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #07ACE6;
    display: flex;
    position: relative;
    right: -50px;
    top: -10px;
}

/* other */

.Two {
    display: flex;
    border: 1px solid transparent;
    width: 70%;
    height: 40%;
    margin:25px auto;
    margin-bottom: 100px;
}

.Recognition  {
    border: 1px solid #E8E9ED;
    opacity: 1;
    height: 100%;
    width: 70%;
    background-color: white;
    
    display: flex;
    border-radius: 3px;
}

.Recognition .content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.Recognition .content h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: left;
}

.Recognition .content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 600;
}

.Recognition .content .underline {
    border: 1.5px solid #55DFB4;
    background-color: #55DFB4;
    width: 230px;
    display: flex;
    margin-left: 0;
    margin-top: 30px;
}



.Trumpet {
    
    background-color: #55DFB4;
    border-radius: 3px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height:100%;
    padding-right: 100px;
}

.Trumpet img {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 190px;
    margin-left: 80px;
    margin-top: 35px;
}



/* PRICING */

.pricing {
    margin-top: 600px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 90%;
  }
  
.pricing__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;  
  }
  

.pricing__box {
    width: 250px;
    height: 350px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #EB476E;
}
  
.pricing__details {
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}
  
.pricing__type {
    
    font-size: small;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
  
.pricing__price {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    color: var(--accent-color);
}
   
  
#limited_offer {
    text-align: center;
    margin-top: 15px;
    font-size: xx-small;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
  
.pricing__items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: left;
    list-style-type: none;
    font-size: x-small;
    font-weight: bold;
    margin-top: 0;
    border: 1px solid transparent;
    position: relative;
    top: -20px;
    left: -10px;
}
  
.pricing__box--professional .pricing__items {
    position: relative;
    top: -30px;
}
  
.pricing__item {
    
    margin-bottom: 20px;
}
  
.pricing .btn:hover {
    cursor: pointer;
    margin-right: 5px;
}


.pricing__box--basic .btn {
    position: relative;
    bottom: -10px;
    
    background-color: #EB476E;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: xx-small;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 23px;
}

.pricing__box--professional .btn {
    position: relative;
    bottom: 17px;
    left: -75px;
    
    background-color: #07ACE6;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: xx-small;
    font-weight: bold;
    padding: 12px 45px;
    border-radius: 23px;
}

.pricing__box--premium .btn {
    position: relative;
    bottom: 12px;
    
    background-color: #55DFB4;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: xx-small;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 23px;
}
  
  
.pricing__box--basic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}
   
.pricing__box--basic .pricing__price {
    color: #FB3B64;
     margin-top:10px;
}

.pricing__box--professional .pricing__details .pricing__price {
    color: #07ACE6;
}

.pricing__box--premium .pricing__details .pricing__price {
    color: #55DFB4;
}

.pricing__box--professional {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border:1px solid #07ACE6;
    width: 300px;
    height: 380px;
    margin: 0 40px;
    box-shadow: 5px 10px 27px #07ACE629;
}
  
.pricing__box--professional .pricing__type {
    font-size: 20px;
}
  
.pricing__box--professional .pricing__item {
    margin-bottom: 25px;
}
  

.pricing__box--premium {
    border: 1px solid #55DFB4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.pricing__box--premium .pricing__type {
    margin-top: 20px;
}

.pricing__box--professional .pricing__type {
    margin-top: 20px;
}

.pricing h1 {
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
  

/* CONTACT */

.container_ {
    width: 100%;
    height: 40%;
    display: flex;
    border: 1px solid transparent;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contact {
    margin-top: 0;
    width: 100%;
    height: 60%;
    background-color: white;
    border: 1px solid transparent;
}

.contact .container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid transparent;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    
}

.instructions h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    position: relative;
    right: 40px;
    margin-bottom: 15px;
}

.instructions p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: xx-small;
    position: relative;
    right:40px;
    margin-bottom: 10px;
}

.consent__text {
    font-size: 8px;
    width: 300px;
    color: #707070;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    right: -30px;
    top: -5px;
}

.instructions {
    display: flex;
    justify-content: left;
    flex-direction: column;
    
}

.left {
    width: 50%;
    border: 1px solid transparent;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.details a {
    text-decoration: none;
    color: #A5A5A5;
    font-size: x-small;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
}



.details img {
    width: 15px;
}

.details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    right: 90px;
}

 
input[type="checkbox"] {
    position: relative;
    right: -10px;
    top: 10px;
}




.form__label {
    color: #08A6E4;
    font-family: 'Open Sans', sans-serif;
    font-size: 7px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form__field {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width:300px;
    
}

.form__input {
    border: none;
    border-bottom:1px solid #707070;
    height: 25px;
    opacity: 30%;
}

.btn--primary {
    text-decoration: none;
    color: #FFFFFF;
    font-size: xx-small;
    font-weight: bold;
    background-color: #08A6E4;
    padding: 10px 50px;
    border: 1px solid #08A6E4;
    border-radius: 35px;
    box-shadow: 5px 10px 14px #07ACE629;
    margin-left: 150px;
    margin-top: 10px;
}

.btn--primary:hover{
    cursor: pointer;

}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center;
    border:1px solid #D1D1D1;
    padding: 2px;
    border-radius: 3px;
    width: 13px;
    height: 13px;

}

input[type="checkbox"]::after {
    content: url("images/Checkmark/Checkmark.png");
    display: none;
    
}

input[type="checkbox"]:checked::after {
   display: block;
   width: 10px;
   height: 10px;
}



  

  
/* FOOTER */

footer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    box-shadow: 0px -5px 40px #00000029;
}

.container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 85%;
    margin: 0 auto;
}
  
.left1 {
    display: flex;
    flex-direction: column;
}

.left1 h3 {
    font-family: 'Raleway', sans-serif;
    color: #08A6E4;
}

.left1 p {
    color: #A5A5A5;
    font-size: xx-small;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.media img {
   padding-left: 10px;
   width: 30px;
}